.check1 {
    color: #369;
    font-size: 1.5em;
    font-weight: bold;
}
.check2 {
    color: #696;
    font-size: 1.5em;
    font-weight: bold;
}
.check3 {
    color: #ccc;
    font-size: 1.5em;
    font-weight: bold;
}
